version: "3.9"
services:
  user-mysql:
    image: mysql:8.2.0
    restart: always
    ports:
      - 12100:3306
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: lalala
      TZ: Asia/Seoul
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./.docker/mysql/:/var/lib/mysql
      - ./infra/:/docker-entrypoint-initdb.d
    networks:
      - default
      - lalala-network

  user-redis:
    image: redis:7.0
    ports:
      - 12200:6379

  user-adminer:
    image: adminer
    restart: always
    ports:
      - 13900:8080

networks:
  lalala-network:
    driver: bridge
    external: true