server:
  port: 24000

spring:
  application:
    name: music-server

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: "jdbc:mysql://localhost:24100/music?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&serverTimezone=Asia/Seoul"
    username: root
    password: admin


  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: validate
    properties:
      dialect: org.hibernate.dialect.MySQLDialect
      hibernate:
        format_sql: true
        show_sql: true
        use_sql_comments: true

  kafka:
    bootstrap-servers: localhost:40000,localhost:40001,localhost:40002
    consumer:
      group-id: music-group

logging:
  pattern:
    level: "%5p [%X{traceId:-},%X{spanId:-}]"
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace

file:
  multipart:
    maxUploadSizeMB: 30
    maxUploadSizePerFileMB: 30

eureka:
  instance:
    hostname: localhost
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:34100/eureka

passport:
  algorithm: HmacSHA256
  key: SECRET_KEY

management:
  tracing:
    sampling:
      probability: 1.0
    propagation:
      consume: [b3, w3c]
      produce: [b3, w3c]
  zipkin:
    tracing:
      endpoint: "http://localhost:43000/api/v2/spans"

uploader:
  url: http://localhost:25000
