server:
  port: 22000

spring:
  application:
    name: streaming-server

client:
  endpoint:
    music: http://host.docker.internal:24000
    storage: http://host.docker.internal:30000

ffmpeg:
  location:
    mpeg: ./libs/ffmpeg-6.1/ffmpeg
    probe: ./libs/ffmpeg-6.1/ffprobe

passport:
  algorithm: HmacSHA256
  key: SECRET_KEY

management:
  tracing:
    sampling:
      probability: 1.0
    propagation:
      consume: [b3, w3c]
      produce: [b3, w3c]
  zipkin:
    tracing:
      endpoint: "http://localhost:43000/api/v2/spans"

logging:
  pattern:
    level: "%5p [%X{traceId:-},%X{spanId:-}]"
