version: "3.9"
services:
  playlist-mongo:
    image: mongo:7.0.5
    restart: always
    ports:
      - 16100:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: QOdmQodmsapomd41dM
      MONGO_INITDB_DATABASE: playlist
    volumes:
      - ./database/mongoDB/data:/data/db
      - ./database/mongoDB/initdb.d:/docker-entrypoint-initdb.d:ro

  playlist-mongo-seed:
    image: mongo:7.0.5
    links:
      - playlist-mongo
    volumes:
      - ./infra:/mongo-seed
    command: /mongo-seed/import.sh

  playlist-redis:
    image: redis:7.0
    ports:
      - 16200:6379

  playlist-mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 17900:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: QOdmQodmsapomd41dM
      ME_CONFIG_MONGODB_SERVER: playlist-mongo
      ME_CONFIG_BASICAUTH_USERNAME: playlist-admin
      ME_CONFIG_BASICAUTH_PASSWORD: g2+u*8XG%^xKT=-SzDMfbZ

networks:
  lalala-network:
    driver: bridge
    external: true
